.categories-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  margin-top: 1rem;
}

.categories-box p {
  margin: 0;
  font-size: 0.8rem;
}

.categories-box .arrow {
  font-size: 12px;
  color: #000000;
}

.featured-link{
  text-decoration: none;
  color: #000000;
}
