* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #222;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 80px; /* to accommodate fixed navbar */
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px;
  background: white;
  border-bottom: 1px solid #ccc;
}

.logo {
    background: rgb(221, 0, 0);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 2px 4px;
  border-radius: 1px;
  display: inline-block;
  letter-spacing: 0px;
}

.search-bar {
  margin: 0 20px;
  width: 160px;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 100px;
}


.search-icon {
  display: none;
  font-size: 22px;
  margin-right: 16px;
  cursor: pointer;
}

.mobile-search {
  display: none;
 
}

.icons span {
  margin-left: 15px;
  font-size: 18px;
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  margin-left: 16px;
}

.nav-icons{
  width: 24px;
  height: 24px;
}


/* Top Navigation */
.top-nav {
  display: flex;
  gap: 45px;
  justify-content: center;
  padding: 10px 20px;
  padding-bottom: 20px;
  background: #ffffff;
  border-bottom: 1px solid #ddd;
}

.top-nav a {
  text-decoration: none;
  color: #000000;
  font-size: 11px;
  font-weight: 600;
}



/* Layout */
.container {
  display: flex;
  padding: 20px;
  gap: 20px;
}



/* Sidebar */
.sidebar {
  width: 200px;
}

.sidebar h3 {
  margin-bottom: 10px;
  font-size: 16px;
}

.sidebar label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}

/* Product Grid */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 20px;
  flex: 1;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.product {
  position: relative;
  border: 1px solid #eee;
  padding: 10px;
  height: auto;
  border-radius: 8px;
  text-align: center;
  background: #fff;
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.app-only {
  position: absolute;
  top: 8px;
  left: 8px;
  background: black;
  color: white;
  font-size: 10px;
  padding: 2px 6px;
  text-transform: uppercase;
  border-radius: 2px;
}

.info {
     background-color: #f2f2f2;
    border-radius: 4px;
  margin-top: 12px;
  text-align: left;
  font-size: 12px;
   display: flex;
    align-items: center;
    padding: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
}

 .info img{
    width: 140px;
    height: 160px;
    margin-top: 1rem;
  }

.info .brand {
  font-weight: bold;
  font-size: 12px;
}

.info .name {
  font-size: 12px;
  color: #444;
}

.info .price {
  font-weight: bold;
  font-size: 13px;
  margin-top: 4px;
}

/* Badge for out of stock (not used here now) */
.badge {
  position: absolute;
  top: 8px;
  left: 8px;
  background: #222;
  color: white;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 2px;
  text-transform: uppercase;
}

.new-arrivals {
 width: 100%;
 display: flex;
 flex-direction: column;
 font-size: 1.5rem;
 align-items: center;
 justify-content: center;
}



/* Carousel Styles */




/****** Mobile Styles ******/

.folly{
    width: 100%;
    display: flex;
    flex-direction: column;
}


.body-home {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #222;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 80px; /* to accommodate fixed navbar */
}


.desktop-carousel {
  display: block;
}
.mobile-carousel {
  display: none;
}

.container-main-home {
  display: flex;
  padding: 0px;
  gap: 90px;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0px;
  cursor: pointer;
}

.carousel-track {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease;
}

.carousel-track img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-slide {
  min-width: 100%;
  display: none;
  object-fit: cover;
  height: 220px;
}

.carousel-slide.active {
  display: block;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.156);
  color: #fff;
  border: none;
  font-size: 28px;
  padding: 6px 18px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;
}

.carousel-btn.prev {
  left: 16px;
}

.carousel-btn.next {
  right: 16px;
}

.carousel-dots {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.carousel-dots .dot {
  width: 20px;
  height: 3px;
  background: #ddd;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.carousel-dots .dot.active {
  background: #ff4444;
}

.bottom-nav {
  display: none;
}

.new-line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 3rem 0rem 10rem;

}

.line{
    height: 1px;
    background-color: #d8d8d8;
    width: 75%;
    margin-left: 1rem;
    margin-right: 1rem;
}


.new-line-btns{
  display: flex;
  gap: 10px;
  flex-direction: row;
  
}

.new-line p{
    font-size: 1.2rem;
    font-weight: 900;
}

.new-line-btns .next-btn{
    width: 30px;
    height: 30px;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    background-color: #f3f3f3;
}

.new-line-btns .prev-btn{
    width: 30px;
    height: 30px;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    background-color: #f3f3f3;
}

.new-arrivals p{
  margin-top: 1rem;
  margin-bottom: 2rem;
    font-size: 1rem;
}



.new-arrivals-grid {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  gap: 20px;
  margin-top: 0rem;
  margin-bottom: 8rem;
  padding: 0 0rem;
  padding-left: 10rem;
}

.new-arrivals-img{
     min-width: calc((100% - 60px) / 4); /* 4 items with 20px gap */
      display: flex;
     flex-direction: column;
    height: 500px;
    cursor: pointer;
      justify-content: flex-end;

}

.new-arrivals-img img{
     width: 100%;
    object-fit: cover;
}

.arrival-text{
    margin-top: 0.8rem;
}

.arrival-text .price{
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}


/* Popular Now Section */
.pop-now-section{
  display: flex;
  flex-direction: column;
  
}
.pop-now-section p{
    font-size: 0.9rem;
    text-align: center;
    margin-top: 1rem;
    color: #000000;
    
}

.pop-now-header2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pop-now-header2 img{
    width: 40px;
    height: 40px;
}


.pop-now-carousel-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin: 2rem 0;
}


.pop-now-grid {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  gap: 20px;
  flex: 1;
  padding: 0 10rem;
}

.pop-now-img{
   display: flex;
     flex: 0 0 auto;
       min-width: calc((100% - 60px) / 4); /* 4 visible on desktop */

    flex-direction: column;
    align-items: center;
}

.pop-now-img img{
     width: 60%;
    object-fit: cover;
}

.pop-now-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.8rem;
}

.pop-now-text .brand{
    text-align: center;
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1.4rem;
}

.pop-now-text .price{
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.pop-now-img button{
    margin-top: 1rem;
    padding: 0.8rem 2rem;
   
    border: 1px solid #000000;
    color: rgb(0, 0, 0);
    border-radius: 0px;
    background-color: #fff;
    cursor: pointer;
}


.hot-product p{
    font-size: 1.2rem;
}

.hot-product-grid-main{
    display: flex;
    flex-direction: row;
    background-color: #92AEDD;
    padding: 4rem 6rem 0rem 6rem;

    
}

.hot-product-first{
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  justify-content: space-between;
  color: #fff;
  padding-right: 4rem;
  height: 100%;
}

.hot-product-grid {
display: flex;
overflow-x: hidden;
gap: 10px;
flex-direction: row;  gap: 20px;
margin-top: 2rem;
grid-template-columns: 1fr 1fr 1fr 1fr;
margin-bottom: 8rem;
}


.hot-product-first h1{
    color: #fff;
    font-weight: 900;
    font-size: 2.2rem;
    line-height: 2.2rem;

    margin-bottom: 5rem;
}
.hot-product-img .image-wrapper {
    background-color: #f5f5f5;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
}

.hot-product-img{
     min-width: calc((100% - 60px) / 4); /* 4 items with 20px gap */
  flex: 0 0 auto;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hotty{
color: #fff;
    
}

.hot-product-img img{
     width: 100%;
    object-fit: cover;
}

.hot-product-text{
    background-color: #9EB6E0;
    padding: 1rem 1rem 1rem 1rem;
    color: #fff;
}

.hot-product-text .price{
    margin-top: 0.6rem;
    font-weight: bold;
    font-size: 1.2rem;
}
.hot-carousel-btns{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 1rem;
}

.hot-carousel-btns .prev-btn{
    width: 30px;
    height: 30px;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    background-color: #00000025;
}

.hot-carousel-btns .next-btn{
     width: 30px;
    height: 30px;
    display: flex;
    font-weight: 10;
    justify-content: center;
    padding: 0.3rem;
    border-radius: 100%;
    background-color: #00000025;
}

/* Popular Searches */

.popular-searches {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 3rem;
}

.pop-row1{
    display: flex;
    flex-direction: row;
    width: 100%;
        gap: 15px;

    padding: 1rem 4rem 0rem 4rem;
}

.pop-row2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap: 15px;
    padding: 1rem 4rem 1rem 4rem;
}

.popular-searches-container {
    background-color: #f2f2f2;
    border-radius: 100px;
    padding: 0.7rem 2rem 0.7rem 2rem;
    display: flex;
    flex-wrap: wrap;
}

.popular-searches-container p{
     font-size: 0.6rem;
     font-weight: 700;
}

.wonder-img{
    width: 100vw;
    margin-bottom: 4rem;
}

.w-mobile{
  display: none;
}

.wonder-img img{
    width: 100vw;
        object-fit: cover;

    overflow: hidden;
}

.container22{
  margin-top: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

.our-artist-section{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  padding-top: 4rem;
  padding-bottom: 4rem;
}



.artist-card{
  display: flex;
  flex-direction: row;
  background-color: #000000;
  height: 20rem;
  width: 40rem;
  color: #fff;
  padding: 2rem;
  gap: 20px;
}

.artist-pic{
  height: 100%;
  width: 100%;
}

.artist-info{
  width: 100%;
}

.artist-pic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer{
  background-color: #000000;
  height: 400px;
  width: 100%;
  margin-top: 4rem;
}


/* Responsive */
@media (max-width: 768px) {
  body {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 80px;
  }
  .body-home{
    padding-top: 60px;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 12px 16px;
    background: white;
    border-bottom: 1px solid #ccc;
  }
  

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    order: 2;
  font-size: 16px;
  padding: 3px 4px;
  display: inline-block;
  letter-spacing: 1px;
  }
  .hamburger {
    display: block;
    margin-left: auto;
    order: 3;
  }
  .icons {
    display: none;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 12px 16px;
    background: white;
    
    border-bottom: 1px solid #ccc;
  }

  .search-bar {
    display: none;
  }
  .search-icon {
    display: none;
    order: 1;
  }

  .mobile-search{
    margin-top: 0rem;
    width: 100%;
    padding: 1rem;
    display: block;
  }

  .search-input{
    width: 100%;
    padding: 0.8rem;
    border-radius: 100px;
    border: 1px solid #ddd;
    
  }

  .new-arrivals {
 width: 100%;
 display: flex;
 flex-direction: column;
 font-size: 0.9rem;
 align-items: start;
 justify-content: center;
}

  .top-nav {
  display: none;
  gap: 15px;
  justify-content: center;
  padding: 10px 20px;
  background: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

.top-nav a {
  text-decoration: none;
  color: #333;
  font-size: 8px;
}

  .container {
    flex-direction: column;
    padding: 10px;
  }

  .sidebar {
    display: none;
  }

  .products {
    grid-template-columns: repeat(2, 1fr);

    gap: 16px;
  }

  .info {
    height: 230px;
    background-color: #f2f2f2;
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
  }

  .info img{
    width: 80px;
    height: 110px;
    margin-top: 1rem;
  }


    .desktop-carousel {
    display: none;
  }
  .mobile-carousel {
    display: block;
  }


    .carousel {
    max-width: 100%;
    height: auto;
  }
  .carousel-slide {
      height: 100%;
  }

  .carousel-track img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

  .bottom-nav {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 56px;
    background: #fff;
    border-top: 1px solid #ddd;
    justify-content: space-around;
    align-items: center;
    z-index: 1001;
  }
  .bottom-nav a {
    flex: 1;
    text-align: center;
    color: #222;
    font-size: 24px;
    text-decoration: none;
  }


  /* NEW ARRIVAL  */

    .new-arrivals-grid {
    gap: 12px;
    padding: 0 0.5rem;
  }
  .new-arrivals-img {
    min-width: calc((100% - 80px) / 2); /* 2 items with 12px gap */
    height: 400px;
    display: flex;
    transform: translateY(-25%);
  }

  .pop-now-grid{
    display: flex;
    flex-direction: row;
  }
 

.new-arrivals{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.new-arrivals-grid{
    margin-bottom: 0rem;
}

.new-arrivals h1{
    font-size: 1rem;
}

.new-arrivals p{
    font-size: 0.6rem;
}

.arrival-text .brand{
    font-size: 0.7rem;
}

.arrival-text .price{
    font-size: 0.8rem;
    margin-top: 0.4rem;
}




/* Popular Searches */

.popular-searches {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.4rem 0.4rem;
}

.pop-row1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
        gap: 15px;
    padding: 1rem 1.2rem 0rem 1.2rem;
}

.pop-row2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 1rem;
    width: 100%;
    gap: 15px;
    padding: 1rem 1.2rem 0rem 1.2rem;
}

.popular-searches-container {
    background-color: #f2f2f2;
    border-radius: 100px;
    padding: 0.7rem 0.3rem 0.7rem 0.3rem;
    display: flex;
    flex-wrap: wrap;
}

.popular-searches-container p{
     font-size: 0.4rem;
     font-weight: 700;
}


/* Popular Now Section */

.pop-header h1{
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 1rem;
}
.pop-now-section p{
    font-size: 0.6rem;
}





.pop-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  .pop-now-img {
    min-width: calc((100% - 12px) / 2); /* 2 visible on mobile */
  }

  .pop-now-grid{
    padding-left: 0rem;
  }


.pop-now-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.8rem;
}

.pop-now-text .brand{
    text-align: center;
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1rem;
}

.pop-now-text .price{
    margin-top: 1rem;
    font-size: 0.7rem;
    font-weight: 500;
}

.pop-now-img button{
    margin-top: 1rem;
    padding: 0.8rem 2rem;
    border: 1px solid #000000;
    color: rgb(0, 0, 0);
    border-radius: 0px;
    background-color: #fff;
    cursor: pointer;
}

.pop-now-carousel-wrapper .prev-btn{
    margin-left: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    border-radius: 100px;
    height: 30px;
    border: 0px solid #ffffff;
    background-color: #f4f4f4;
    padding: 0.8rem;
}

.pop-now-carousel-wrapper .next-btn{
    margin-right: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    border-radius: 100px;
    height: 30px;
    border: 0px solid #ffffff;
    background-color: #f4f4f4;
    padding: 0.8rem;
}




/* NEW LINE */

.new-line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 1rem 0rem 1rem;

}

.line{
    height: 1px;
    background-color: #d8d8d8;
    width: 50%;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}


.new-line-btns{
  display: flex;
  gap: 10px;

  flex-direction: row;
  
}

.new-line p{
    font-size: 0.8rem;
    font-weight: 600;
}

.new-line-btns .next-btn{
    width: 20px;
    height: 20px;
    padding: 0.2rem;
    display: flex;
    font-size: 10px;
    justify-content: center;
    border-radius: 100%;
    background-color: #00000025;
}

.new-line-btns .prev-btn{
    width: 20px;
    height: 20px;
    padding: 0.2rem;
        font-size: 10px;

    display: flex;
    justify-content: center;
    border-radius: 100%;
    background-color: #00000025;
}

/* Hot Product Section */

.hot-product-first{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-top: 1rem;
    padding-right: 0rem;
    padding-left: 2rem;
}

.hot-product-first h1{
    text-align: center;
    
}


.hot-product p{
    font-size: 1.2rem;
}

.hot-product-grid-main{
    display: flex;
    flex-direction: row;
    background-color: #92AEDD;
    padding: 0rem;
}




.hot-product-grid {
display: flex;
gap: 10px;
align-items: center;
background-color: #92AEDD;
padding: 2rem 1rem 2rem 1rem;
flex-direction: row;  gap: 20px;
margin-top: 2rem;
grid-template-columns: 1fr 1fr 1fr 1fr;
margin-bottom: 1rem;
}





.hot-product-grid-main h1{
    color: #fff;
    font-weight: 900;
    font-size: 1.6rem;
    text-align: left;
    line-height: 2.2rem;
    margin-bottom: 1rem;
    padding: 0rem;
}
.hot-product-img .image-wrapper {
    background-color: #f5f5f5;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
}

.hot-product-img{
        min-width: calc((100% - 12px) / 2); /* 2 items with 12px gap */

    height: 300px;
    width: 90%;

}

.hotty{
color: #fff;
    
}

.hot-product-img img{
     width: 100%;
    object-fit: cover;
}

.hot-product-text{
    background-color: #9EB6E0;
    padding: 1rem 1rem 1rem 1rem;
    color: #fff;
}

.hot-product-text .price{
    margin-top: 0.6rem;
    font-weight: bold;
    font-size: 1.2rem;
}
.hot-carousel-btns{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.hot-carousel-btns .prev-btn{
    width: 30px;
    height: 30px;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    background-color: #00000025;
}

.hot-carousel-btns .next-btn{
     width: 30px;
    height: 30px;
    display: flex;
    font-weight: 10;
    justify-content: center;
    padding: 0.3rem;
    border-radius: 100%;
    background-color: #00000025;
}



  .wonder-img{
    width: 100%;
  }

.wonder-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.w-desktop{
  display: none;
}

.w-mobile{
  display: block;
}


.container22{
  margin-left: 1rem;
  margin-right: 1rem;
}


.our-artist-section{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding-top: 4rem;
  padding-bottom: 4rem;
}


.artist-card{
  display: flex;
  flex-direction: column;
  background-color: #000000;
  height: auto;
  width: 100%;
  color: #fff;
  padding: 2rem;
  
  gap: 20px;
}
}
